body{
    height: 200vh;
}
#relative{
    background-color: rgb(1, 60, 60);
    position: relative;
    width: 200px;
    height: 200px;
    left: 50px;
    top: 20px;
}
#absolute{
    background-color: lightblue;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 25px;
    text-align: center;
}
#fixed{
    background-color: green;
    position: fixed;
    width: 100px;
    height: 25px;
    text-align: center;

}
#relative2{ background-color: gray;
    position: relative;
    width: 70px;
    height: 50px;
    text-align: center;
}